{% extends "base.html" %}
{% load facet_filters %}
{% block title %}Sign up today!{% endblock title%}
{% block style %}
<style>
    html{
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
    }
    html{
        overflow: hidden;
    }
    body{
        position: relative;
        justify-content: center;
        top: 50px;
        background-color: #f5f5f5;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }    
    input[type="submit"], input[type="text"], input[type="email"], input[type="password"], select{
        width: 500px;    
        height: 35px;
        border: 2px solid rgba(86, 61, 124, 0.4);  
        border-radius: 0.5rem;
    }
    input[type="submit"]{
        background-color: #007bff;
        font-weight: 500;
        font-size: 15px;
        color: white;
        border-radius: 1rem;
    }
    input[type="checkbox"]{
         text-align: left;
         margin-left: 30px;
         width: initial;
    }
    #home-link{
        visibility: hidden;
    }    
</style>
{% endblock style %}
{% block script %}
<script>
    $(function(){
        input = $("input")
        for (let i=1; input.length > i; i++){
            $(input[i]).addClass("form-control my-1")
        }
    })
</script>
{% endblock script %}
{% block content %}
<form method="POST">
{% csrf_token %}
{% for field in form %}
    {{field}}
    {{field.errors}}
{% endfor %}
<input type="submit" value="Create account">
<div style="text-align: center;">Have an account already? <a href={% url 'account_login' %} >login</a></div>
</form>
{% endblock content %} 