{% extends "base.html" %}
{% load facet_filters %}
{% block content %}
<style>
    html{
        display: flex;
        justify-content: center;
    }
    body{
        position: relative;
        top: 100px;
        background-color: #f5f5f5;
    }
    input[type="text"]{
        width: 356px;    
        height: 40px;
        border: 2px solid rgba(86, 61, 124, 0.4);  
        border-radius: 0.5rem;        
    }
</style>
<form method="POST" class="form-signin">
<div class="h3 mb-3 font-weight-normal" style="text-align: center;">Please sign in</div>
{% for field in form %}
{% with attr="placeholder"|add:","|add:field.label %}
{% with field=field|add_css:attr|add_css:"class,form-control my-1"|safe %}
    {% csrf_token %}
        {{field}}
{% endwith %}
{% endwith %} 
{% endfor %}
    <br>
    <input type="checkbox" value="Remember me" id="check">
    <label for="check">
        Remember me
    </label>
    <div>
    <input type="submit" class="btn btn-lg btn-primary btn-block form-control" value="Sign In">
    <br>
    </div>
</div>
</form>
{% endblock content %} 