{% extends 'base.html' %}
{% load facet_filters %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href={% static "css/custom-blog-list.css" %}>
<style>
    footer a#home-link{
        visibility: visible;
    }    
</style>
{% endblock %}

{% block content%}
{% for fields in object_list %}
<section>
    <hr class="featurette-divider">
    <div class="row featurette"> 
      <div class="col-md-5">
      {% with image=fields.blog_image %}
        {% if image %}<img src="{{ image.url }}" alt="{{ fields.blog_image_description }}" 
        {% if image.width > 500 or image.height > 500 %}
            {% if image.width > image.height %}width="500"{% else %}height ="500"{% endif %}
        {% endif %}
        >{% else %}<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em"
        ></text></svg>{% endif %}
      {% endwith %}
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ fields.title }}</h2>
        <p class="lead">{{ fields.body|summary_blog|safe }}</p>
        <br />
        <a href={% url "detail" fields.datetime_added.date fields.title %} class= "btn btn-primary" role="button">View details »</a>
      </div>
    </div>
</section>
{% endfor %}
</div>
<div class="divine">
<footer class="page-no">
{% if page != 1 %}
    <a class="prev-link" href={% url 'articles' page|add:-1 %}>Prev&lt;&lt;</a>
{% else %}
    <a class="prev-link novisual" href={% url 'articles' page|add:-1 %}>Prev&lt;&lt;</a>
{% endif %}
{% comment %}first 8, last 2, with a bitch in the middle{% endcomment %} 
{% if pages|length <= 12 %}
    {% for i in pages %}
        {% if i == page %}
            <a class="current-page" href={% url 'articles' i %} ><input type="button" value={{i}}></a>
        {% else %} 
            <a  href={% url 'articles' i %} ><input type="button" value={{i}}></a>
        {% endif %}
    {% endfor %} 
{% else %}
    {% for i in pages|slice:":10" %}
        {% if i == page %}<a class="current-page" href={% url 'articles' i %} ><input type="button" value={{i}}></a>{% else %}<a  href={% url 'articles' i %} ><input type="button" value={{i}}></a>{% endif %}
    {% endfor %} 
    <input type="button" value="...">
    {% for i in pages|slice:":-2"%}
        {% if i == page %}<a class="current-page" href={% url 'articles' i %} ><input type="button" value={{i}}></a>{% else %}<a  href={% url 'articles' i %} ><input type="button" value={{i}}></a>{% endif %}
    {% endfor %}
{% endif %}
{% if page != no_of_pages %}
    <a class="next-link" href={% url 'articles' page|add:1 %}>Next&gt;&gt;</a>
{% else %}
    <a class="next-link novisual" href={% url 'articles' page|add:1 %}>Next&gt;&gt;</a>
{% endif %}
</footer>
</div>
{% endblock %}